<div class="myproject-error-summary">
  @if (showFormErrors) {
    <app-field-error-list class="removeWrapper" [errors]="form.errors ?? []" [showAsMessage]="showAsMessage">
    </app-field-error-list>
  }

  @if (showControlErrors) {
    @for (error of getErrorList(); track $index) {
      @if (error.isComposite) {
        <app-field-error-list class="removeWrapper" [errors]="error.errors!" [showAsMessage]="showAsMessage">
        </app-field-error-list>
      } @else {
        <app-field-error-list
          [sourceFormControl]="error.control!"
          class="removeWrapper"
          [showAsMessage]="showAsMessage"
        >
        </app-field-error-list>
      }
    }
  }
</div>
