<p-fieldset legend="Sub-Component 1" [formGroup]="form">
    <label for="textOption1">My Text</label>
    <div class="isolved-input-container" style="width: 300px;">
        <input type="text" id="textOption1" pInputText formControlName="textOption1" required />
        <span *ngIf="form.controls.textOption1.hasError('required')">textOption1 is Required</span> 
    </div>

    <label for="textOption2">My Text</label>
    <div class="isolved-input-container" style="width: 300px;">
        <input type="text" id="textOption2" pInputText formControlName="textOption2" required />
        <span *ngIf="form.controls.textOption2.hasError('required')">textOption2 is Required</span> 
    </div>

    <label for="numberOption1">numberOption1</label>
    <div class="isolved-input-container" style="width: 300px;">
        <p-inputnumber inputId="numberOption1" required="true" formControlName="numberOption1" />
        <span *ngIf="form.controls.numberOption1.hasError('required')">numberOption1 is Required</span> 
    </div>

    <label for="numberOption2">numberOption2</label>
    <div class="isolved-input-container" style="width: 300px;">
        <p-inputnumber inputId="numberOption2" required="true" formControlName="numberOption2" />
        <span *ngIf="form.controls.numberOption2.hasError('required')">numberOption2 is Required</span> 
    </div>
</p-fieldset>
