@use "@fortawesome/fontawesome-free/css/all.min.css" as fa;
@use "styles/variables" as var;
@use "styles/primeng" as pex;

.myproject {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
}

.myproject-input-container, .myproject-error-summary {
  display: flex;
  flex-direction: column;
  row-gap: .75em;
  /*width: 100%;*/
}
.myproject-input-container {
  margin-bottom: 1em;
}
.myproject-error-summary p-message {
  margin: 1px;
}

.myproject-error {
  i {
    color: var.$form-field-error-color-icon;
  }
  color: var.$form-field-error-color-helper-text;
  font-size: 12px;
}
